* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}
ul {
    list-style: none;
}

:root {
    --mine-color: #0075ff;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */
header {
    height: 100vh;
    background-color: var(--mine-color);
    position: relative;
}
header .container ul {
    display: flex;
    color: white;
    justify-content: center;
}
header .container ul li {
    margin: 20px 15px 0 20px;
    font-size: 15px;
}

.text {
    position: absolute;
    width: 80%;
    text-align: center;
}

/* End Header */